@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Quintessential&display=swap');

#root, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
}
